@import "../core/variables.scss";
@import "../core/mixin.scss";

.registration{
    color: $blue;
    margin:0 0.5rem 0 0.5rem; 
    margin-top:0.5rem;
    border-top:$blue 1.5px solid;
    padding-top:1rem;

    &__title{
        font-family: $title;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        @include tablet{
            font-size: 2rem;
        }
    }

    &__form{
        @include paddingAll;
        padding-right: 3rem;
        color:$blue;
        display: flex;
        flex-direction: column;
        gap:0.7rem;
        @include tablet{
            font-size: 1.3rem;           
        }
        &__input{
            @include input;
            @include tablet{
                font-size: 1rem;
                padding-top: 0.5rem;
            }
        }
    }
}
