@import "../core/variables.scss";
@import "../core/mixin.scss";
.form{
    background-color: $blue;
    color:white;
    margin-top:0.5rem;
    &__title{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }
    &__form{
        @include paddingAll;
        padding-right: 3rem;
        color:$gold;
        display: flex;
        flex-direction: column;
        gap:0.7rem;
    }
}
