@import "../core/variables.scss";
@import "../core/mixin.scss";

.restaurants{
    color:$blue;  
    margin:0 0.5rem 0 0.5rem; 
    border-top:solid 1.5px $blue;
    border-bottom: solid 1.5px $blue; 
    padding-top: 1rem;

    &__title{
        font-family: $title;
        font-weight: 600;
        text-align: center;
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }

    &__list{
        @include paddingAll;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 30vh;
        list-style: none;
        overflow-y:scroll
    }
}

