@import "../core/variables.scss";
@import "../core/mixin.scss";
.reservation{
    margin-top:0.5rem;
    background-color: $gold;
    color:$blue;   
   
    &__title{
        color:white;
        text-align: center;
        padding-top: 0.5rem;        
        font-size: 1.5rem;       
    } 
    &__container{
        @include paddingAll;
    } 
    &__dateBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        &__date{
            display: flex;
            flex-direction: column;
            gap:0.3rem;
        }
    }  
}