@import "../core/variables.scss";
@import "../core/mixin.scss";

.reservation{
    text-align: center;
    color:$blue; 
    background-color: $gold;
    margin-top:0.5rem; 
      
    &__title{
        font-family: $title;       
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;        
        font-size: 1.5rem;       
    }    

    &__dateBox{       
        display: flex;
        flex-direction: column;        
        align-items: baseline;
        text-align: center;
        gap:0.5rem;
        padding:0 1rem 0 1rem;
        &__container{
            width: 100%;            
           display: flex;
           justify-content: space-between;
           
        }
        &__input{
           height: 20px;
            @include input;
            &:hover{
                background-color: $bkgInputGold;
            }
            &:focus{
                outline:solid 0.1rem $blue;
            }
        }
    }  
}
.people{
   width: 20%;
}
