@import "../core/variables.scss";
@import "../core/mixin.scss";

.reservation{
    color:$blue; 
    background-color: $gold;
    margin-top:0.5rem; 
      
    &__title{
        font-family: $title;       
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 0.5rem;        
        font-size: 1.5rem;       
    } 
    &__container{
        @include paddingAll;
    } 

    &__dateBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        &__date{
            display: flex;
            flex-direction: column;
            gap:0.3rem;
        }
        &__input{
            @include input;
            &:hover{
                background-color: $bkgInputGold;
            }
            &:focus{
                outline:solid 0.1rem $blue;
            }
        }
    }  
}