@mixin tablet {
    @media all and (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:1200px) {
        @content;
    }
}

@mixin paddingAll{    
    padding: 0 0 2rem 3rem;    
}

@mixin input {
    border:none;
            border-bottom: 1px solid $blue;           
            margin-bottom: 0.5rem;
            &:hover{
                background-color: $bkgInputBlue;
            }
            &:focus{
                outline:$gold solid 0.1rem;
                border-bottom:none              
               
            }
}