//COLOURS
$blue:#2E3E5B;
$gold:#E2C593;
$bkgInputBlue:#acc0e375;
$bkgInputGold:#fdf7ef;

//FONTS
$header:'Lobster', cursive;
$text:'Fira Sans', sans-serif;
$title:'Abhaya Libre', serif;



//<i class="fa-solid fa-person"></i> persona
//<i class="fa-regular fa-clock"></i>
//<i class="fa-regular fa-calendar"></i>