@import "./styles/core/reset.scss";
@import "./styles/core/variables.scss";
@import "./styles/core/mixin.scss";

.main{
    font-family: $text;
    @include desktop{
        display:flex;
        flex-direction: row;
        gap:1rem;
    }
    &__container{
        @include desktop{
            display: flex;
            flex-direction: column;
            width: 30%;
        }
       
    }
}

